body{
    color: rgb(130, 74, 0);
    background:rgb(255, 0, 221)
}
.heading
{
    width: 80%;
    font-size: 22px ;
}

#camera
{
    border:2px dashed black;
    width:350px;
    height: 300px;
}
.name_of_objects, #result_objec_name ,#result_object_accuracy
{
    color:rgb(50, 205, 171);
}